﻿@page "/"
@using Common.Business
@using Common.Models
@using Infrastructure
@* @attribute [StreamRendering] *@
@rendermode InteractiveServer

@inject IGameService GameService
@inject IPlayerService PlayerService

<PageTitle>Tic Tac Toe</PageTitle>

<h1>Tic Tac Toe</h1>

<div class="game-page">
    <div class="game-page-block">
        <table class="table game-field">
            <tbody>
            @for (int i = 0; i < 3; i++)
            {
                int k = i;
                Tuple<string, string, string> t = CalcRow(k);
                <tr class="game-field-row">
                    <td class="game-field-cell" @onclick="(() => CellClick(0, k))">
                        <div class="game-field-cell-div">@t.Item1</div>
                    </td>
                    <td class="game-field-cell" @onclick="(() => CellClick(1, k))">
                        <div class="game-field-cell-div">@t.Item2</div>
                    </td>
                    <td class="game-field-cell" @onclick="(() => CellClick(2, k))">
                        <div class="game-field-cell-div">@t.Item3</div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="game-page-block game-page-block-info">
        <label>@GameStateText</label>
        <button @onclick="StartGameHandler" disabled="@IsDisabledStartButton">Start</button>
        <button @onclick="ClearGameHandler">Clear</button>
    </div>
    <div class="game-page-block">
        <select @onchange="(args => CrossListClickHandler(args))" disabled="@IsDisabled">
            @{
                if (_players != null)
                {
                    @foreach (Player player in _players)
                    {
                        <option value="@player.Id.ToString(Formats.GuidFormat)">@player.Name</option>
                    }
                }
            }
        </select>
    </div>
    <div class="game-page-block">
        <select @onchange="(args => ZeroListClickHandler(args))" disabled="@IsDisabled">
            @{
                if (_players != null)
                {
                    @foreach (Player player in _players)
                    {
                        <option value="@player.Id.ToString(Formats.GuidFormat)">@player.Name</option>
                    }
                }
            }
        </select>
    </div>
</div>



