﻿.main-page {
    margin: 50px;
}

.game-page {
    display: flex;
    flex-direction: row;
}

.game-page-block {
    margin: 10px;
}

.game-page-block-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.game-field {
    background-color: lightgray;
    width: 300px;
}

.game-field-row {
}

.game-field-cell {
    border-block-color: #dee2e6;
    border-width: 5px;
    text-align: center;
}

.game-field-cell-div {
    height: 30px;
    width: 120px;
}